env.properties
Gemfile.lock
syntaxcache
rubocop.xml
*.tar.gz
cookbooks
.vendor
.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
cookbooks.tar.gz
docker/*.image

features/reports
vendor/
spec/report.xml
ci/output/
ci/reports/
